# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env

# Node
node_modules/
dist/
dist-ssr/
*.local
.npm
.eslintcache

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
