--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
python-multipart
pillow
torch==2.1.2
torchvision==0.16.2
open_clip_torch==2.23.0
transformers==4.34.0
numpy==1.26.4
pandas
openpyxl
ftfy
regex
